body { background:#222; color:#FFFFF6; display:flex; flex-direction:column; font:normal 1.1em/1.8em 'Fjord One', serif; margin:0; min-height:100vh; }
h1, h2, h3 { font-family:'Monda' sans-serif; font-weight:normal; margin-bottom:0.3em; }
p { margin:0 0 1em 0; }
a { color:#FC0; text-decoration:none; }
a:hover { text-decoration:underline; }
em { font-style:normal; font-weight:bold; }
.site { background:#111; color:#FFF; font-family:'Monda' sans-serif; overflow:auto; padding:0 1em; }  
header.site { align-items:center; display:flex; justify-content:flex-end; }
header.site h1 { flex-grow:1; font-size:1em; }
header.site nav a { padding:0.5em; }
footer.site { padding-top:1em; }
footer.site { font-size:0.8em; }
#search input { background:#FFF; border:0; border-radius:3px; padding:0.5em; }
article { display:flex; flex-direction:column; flex-grow:1; margin:2em auto; width:42em; }
article.post { padding:0 9em; }
article.post header dl.meta { color:#555; float:left; margin:0.5em 1em 0 -9em; }
article.post header dl.meta:hover { color:#AAA; }
article.post header dl.meta dt { float:none; font-weight:bold; }
article.post header dl.meta dd  { margin-left:0; }
article.post p.description { color:#FFB; font:1.3em 'Monda' sans-serif; }
article.post p { max-width:50em; }
@media screen and (max-width: 750px) {}
@media screen and (max-width: 600px) {}

article.post-synopsis {  }
article.post-synopsis p.description { color:#FFFFF6; font-size:1em; }
