---
---

body
  font: 400 1em/1.4em sans-serif
  margin: 0
h1, h2, h3, h4, h5, h6
  font-weight: 400
  margin-bottom: 0.3em
p
  margin: 0 0 1em 0
a
  color: #069
  text-decoration: none
  &:hover
    text-decoration: underline
em
  font-style: normal
  font-weight: 400

#site
  display: grid
  > header
    background: #222
    color: #fff
    overflow: auto
    h1
      display: inline-block
      font-size: 1em
      margin: 0.5em 1em
    nav
      display: inline-block
      a
        color: #FC4
        margin: 0.5em 1em
  > article
    margin: 1em
  > footer
    padding: 1em
    text-align: right
    p
      margin: 0
  
ul#posts
  list-style: none
  padding: 0
  li p
    margin: 0
  span.date
    color: #999
    margin: 0
