---
---

body
  background: #FFF
  color: #000
  font: normal 1em/1.4em Roboto, Helvetica, Arial, sans-serif
  margin: 1em
  
h1, h2, h3, h4, h5, h6
  font-family: sans-serif
  font-weight: normal
  margin-bottom: 0.3em

p
  margin: 0 0 1em 0

a
  color: #069
  text-decoration: none
  &:hover
    text-decoration: underline
  
em
  font-style: normal
  font-weight: bold

ul#posts
  span.date
    color: #CCC
    float: right