/* # Colours
 *
 * 03617B
 * 086F82
 * 15767D
 * A0CAf4
 * D6DAE6
 **/

/* Fonts */
@font-face { font-family:Fraktur; src:url("../fonts/fraktur.otf"); }

/* HTML5 Elements */
section, article, nav, header, footer, aside { display: block; }


* { margin:0; padding:0; }
html, body { height: 100%; }
body { background:#086F82; color:#D6DAE6; font:300 16px/1.5em Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font:bold 100% Fraktur; }
a         { color: #2a7ae2; text-decoration:none; }
a:hover   { color: #000; text-decoration:underline; }
a:visited { color: #205caa; }

/* Site Header */
body > header { background:#03617B; color:#FFF; overflow:auto; }
body > header h1 { float:left; margin:1em; }
body > header h1 a { font-size:2em; }
body > header nav { float: left; }
body > header a, 
body > header a:hover, 
body > header a:visited { color:#FFF; }

/* Page */
body > section { background:#FFF; color:#111; margin:1em; padding:1em; }
body > article ul { list-style:square; margin:0 0 0 1em; }

/* Site Footer */
body > footer { background:#03617B; color:#FFF; overflow:auto; padding:1em; }

/* Page Specific ------------------------------------------------------------*/
section[role='home'] {}
section[role='home'] ul.posts {}
section[role='home'] ul.posts li a { font-family:Fraktur; }
section[role='home'] ul.posts li a span.date { clear:left; display:block; }

/* Responsive Queries */
@media screen and (max-width: 750px) {
}

@media screen and (max-width: 600px) {
}
