<!DOCTYPE html>
<html prefix="rdfa: http://www.w3.org/ns/rdfa#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="/{{ page.url | replace:'index.html','' }}">
    <link rel="stylesheet" href="/css/screen.css" type="text/css">
  </head>
  <body>
    <header>
	    <h1><a href="/">{{ site.title }}</a></h1>
	    <nav>
	      <a href="/about">About</a>
	      <a href="/contact">Contact</a>
	    </nav>
    </header>
    <article>
	    {{ content }}
    </article>
    <footer>
	    <p class="contact"><a href="mailto:hello@conail.net">hello@conail.net</a></p>
	    <p class="rss"><a href="/feed.xml">RSS Feed</a></p>
	    <p class="copyright">Copyright &copy; <script>document.write((new Date()).getFullYear())</script> Conail Stewart.  All Rights Reserved.</p>
    </footer>
  </body>
</html>




