<!DOCTYPE html>
<html prefix="rdfa: http://www.w3.org/ns/rdfa#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>    
    <header class="site">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a> {{ page.title }}</h1>
      <nav>
	<ul>
	  <li><a href="/notes">Notes</a></li>
	  <li>
            <a href="/projects">Projects</a>
            <ul>
              <li><a href="/matter">Matter</a></li>
            </ul>
	  </li>
	</ul>
      </nav>
    </header>
    {{ content }}
    <footer class="site">
      <p class="rss"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a></p>
      <p class="license">
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
	  <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
	</a>
      </p>
    </footer>
  </body>
</html>
